.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1024px){
    .container,
    .container-sm {
        min-width: 920px;
        max-width: 920px;
    }
}

/*@media (min-width: 718px) {*/
/*    .container,*/
/*    .container-sm {*/
/*        max-width: 640px;*/
/*    }*/
/*}*/

@media (min-width: 1024px) {
    .container,
    .container-sm,
    .container-md {
        max-width: 920px;
    }
}

@media (min-width: 1300px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 1200px;
    }
}

/*@media (min-width: 1920px) {*/
/*    .container,*/
/*    .container-sm,*/
/*    .container-md,*/
/*    .container-lg,*/
/*    .container-xl {*/
/*        max-width: 1440px;*/
/*    }*/
/*}*/

.text-underline{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #1B1B1B;
}

a:hover{
    color:#83BBFB;
}

a.router-link-exact-active{
    color: #449BFE;
    text-weight: bold;
}

.col-gap-12{
    column-gap: 12px;
}

.col-gap-16{
    column-gap: 16px;
}

.row-gap-12{
    row-gap: 12px;
}

/* background color */
.bg-blue-200 {
    background: #449BFE;
}
.bg-blue-100 {
    background: #83BBFB;
}
.bg-blue-90 {
    background: #ADD5FA;
}
.bg-blue-80 {
    background: #CAE5FF;
}
.bg-blue-70 {
    background: #E3F0FF;
}

/* text color */
.text-grey-100 {
    color: #1B1B1B;
}

.text-blue-200 {
    color: #449BFE;
}
.text-blue-100 {
    color: #83BBFB;
}
.text-blue-90 {
    color: #ADD5FA;
}
.text-blue-80 {
    color: #CAE5FF;
}
.text-blue-70 {
    color: #E3F0FF;
}

/* border color */
.border-blue-200 {
    border: #449BFE 1px solid;
}
.border-blue-100 {
    border: #83BBFB 1px solid;
    border-radius: 0;
}

/* border radius */
.left-radius-2 {
    border-radius: 2px 0 0 2px;
}
.right-radius-2 {
    border-radius: 0 2px 2px 0;
}
.radius-4 {
    border-radius: 4px;
}
.top-radius-4 {
    border-radius: 4px 4px 0 0;
}
.radius-50 {
    border-radius: 50px;
}
